.btn {
    background-color: $mainTeal;
    color: white;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    margin: 30px auto;
    width:125px;
    text-align:center;
    

}