.feature-item {
    position: relative;
    text-align: left;
    
    &--dateblock {
        display: block;
        margin: 0 auto;
        text-align: center;
        outline: white double 3px;
        width: 150px;

        &-dayofweek {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
        }

        &-day {
            display: block;
            font-size: 3.5rem;
            font-weight: 400;
        }

        &-month {
            display: block;
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    @mixin atMedium {
        //padding-left: 104px;
        padding-bottom: 1.75rem;
        
    }

    &__icon {
        height: 100px;
        width: auto; 
        display: block;
        margin: 0 auto;

        @mixin atMedium {
            
            
        }
    }

    &__title {
        font-size: 1.2rem;
        margin-top: .7rem;
        font-weight: 500;
        text-align: left;

        @mixin atMedium {
            font-size: 1.5rem;
            text-align: left;
            margin-bottom: .8rem;
            margin-top: 1rem;
        }

        

    }

    &__details {
        font-size: 1rem;

        a {
            color: white;
            text-decoration: underline;
        }
    }

 
}