.large-hero {
    border-bottom: 10px solid $mainTeal;
    display: grid;
    grid-template-columns: 1fr;

    &__image {
        grid-column: 1;
        grid-row: 1;

    img {
        display: block;
    }
    }

    &__text-content {
        align-self: normal;
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        padding-top: 60px;
    }

    &__title {
        padding-top:30px;
        font-weight: 500;
        color: white;
        margin: 0;
        font-size: 2rem;

        @mixin atSmall {
            padding-top:100px;
            font-size: 2.75rem;
        }

        @mixin atMedium {
            padding-top: 100px;
            font-size: 3.75rem;
        }
    }

    &__subtitle {
        font-weight: 500;
        color: white;
        margin: 0;
        font-size: 1.5rem;

        @mixin atSmall {
            
            font-size: 2rem;
        }

        @mixin atMedium {
           font-size: 2.5rem;
        }
    }
}