.large-hero {
    //border-bottom: 10px solid $mainTeal;
    display: grid;
    grid-template-columns: 1fr;

    &__text-content {
        align-self: normal;
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        padding-top: 10px;
        width: auto;

    }

    &__title {
        padding-top: 40px;
        font-weight: 300;
        color: $mainTeal;
        margin: 0;
        font-size: 3rem;

      
    }

    &__subtitle {
        font-weight: 500;
        color: $mainTeal;
        margin: 0;
        font-size: 1.25rem;
        text-align:center;


    }

}