.large-hero {
    //border-bottom: 10px solid $mainTeal;
    display: grid;
    grid-template-columns: 1fr;

    &__image {
        grid-column: 1;
        grid-row: 1;

    img {
        display: block;
    }
    }

    &__text-content {
        align-self: normal;
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        padding-top: 10px;
        width: 210px;

        @mixin atSmall {
            padding-top: 70px;
            width: auto;
        }

        @mixin atMedium {
            padding-top:100px;
        }
    }

    &__title {
        padding-top: 40px;
        font-weight: 300;
        color: $mainTeal;
        margin: 0;
        font-size: 1.25rem;

        @mixin atSmall {
            padding-top:0px;
            font-size: 1.75rem;
        }

        @mixin atMedium {
            padding-top: 30px;
            font-size: 3rem;
        }

        @mixin atLarge {
            padding-top: 30px;
            font-size: 4.25rem;
        }
    }

    &__subtitle {
        font-weight: 500;
        color: $mainTeal;
        margin: 0;
        font-size: 1.25rem;

        @mixin atSmall {
            
            font-size: 1.75rem;
        }

        @mixin atMedium {
           font-size: 2.5rem;
        }
    }

}