.page-section {
    padding: 1.2rem 0;

    &__teal {
        background-color: $mainTeal;
        color: #FFF;
    }

    &__linen {
        background-color: linen;
        color: $mainTeal;
    }

    &__navajowhite {
        background-color: whitesmoke;
        color: $mainTeal;
    }

    &__white {
        background-color: white;
    }


    
}