.primary-nav {

    &__pull-right {
        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;

    }

    li {
        list-style-type: none;
        padding-right: 0px;

        @mixin atMedium {
            float:left;
            padding-right: 20px

        }
    }

    li:last-child {
        padding-right: 0px;

        @mixin atMedium {
            padding-right: 20px;
        }
    }

    a{
        text-decoration: none;
        line-height: 2.3rem;
        font-size: 1.2rem;
        text-transform: lowercase;

        @mixin atMedium {
            font-size: 1rem;
            
        }
    }

    a:hover{
        text-decoration: underline;
    }

}