.row {
    display: grid;
    grid-template-columns: 1fr;

    @mixin atMedium {
        grid-template-columns: 3fr 1fr;
        column-gap: 50px;

        &__gutters {
            column-gap: 5.3%;
        }

        &__medium-8 {
            grid-column: span 8;
        }
        
        
        &__medium-6 {
            grid-column: span 6;
        }

        &__medium-4 {
            grid-column: span 4;
        }
    }

    &_wts {
        display: grid;
        grid-template-columns: 1fr;
    
        

        @mixin atMedium {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            text-align: center;
        }
    }

    &_wts-item {
        
        margin-bottom: 40px;

        @mixin atMedium {
            border-bottom: none;
            
        }
    }

    &_info {
        display: grid;
        grid-template-columns: 1fr;

        a {
            color: white;
        }
        

        @mixin atMedium {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            
        }
    }

}