.row {
    display: grid;
    grid-template-columns: 1fr;

    @mixin atMedium {
        grid-template-columns: 1fr;

        &__gutters {
            column-gap: 5.3%;
        }

        &__medium-8 {
            grid-column: span 8;
        }
        
        
        &__medium-6 {
            grid-column: span 6;
        }

        &__medium-4 {
            grid-column: span 4;
        }
    }

    &_wts {
        display: grid;
        grid-template-columns: 1fr;
    
        

        @mixin atMedium {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            text-align: center;
        }
    }

    &_wts-item {
        
        margin-bottom: 40px;

        @mixin atMedium {
            border-bottom: none;
            
        }
    }

    &_wtd {
        display: grid;
        grid-template-columns: 1fr;
    
        

        @mixin atMedium {
            grid-template-columns: .25fr 1.5fr .25fr 1.5fr .25fr;
            column-gap: 15px;
            text-align: center;
        }
    }

    &_wtd-item {
        
        margin-bottom: 0px;
        text-align:center;
        font-size:1.25rem;

        ul {
            
            display: inline-block;
            text-align: left;
        }

        li {
            padding-top: 15px;
        }

        

        @mixin atMedium {
            border-bottom: none;
            
        }
    }

    &_info {
        display: grid;
        grid-template-columns: 1fr;

        a {
            color: white;
        }
        

        @mixin atMedium {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            
        }
    }




    &_reg {
        display: grid;
        grid-template-columns: 1fr;
    
        

        /*@mixin atMedium {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 65px 1fr 1fr 65px;
            column-gap: 0px;
            text-align: center;
        }*/
    }

    &_reg-alt {
        display: grid;
        grid-template-columns: 1fr;
    
        

        @mixin atMedium {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 0px;
            text-align: center;
        }
    }

    &_reg-item {
        
        margin-bottom: 20px;
        text-align:center;

        @mixin atMedium {
            border-bottom: none;
            
        }

        &__text-a {
            padding: 0px 30px;

            @mixin atMedium{
            padding: 0px 15px;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end:3;
            }
        }

        &__text-c {
            padding: 0px 30px;
            
            @mixin atMedium{
            padding: 0px 15px;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end:4;
            }
        }

        &__text-d {
            padding: 0px 30px;
            font-size: 1.2em;
            
            @mixin atMedium{
            padding: 0px 15px;
            grid-column-start: 2;
            grid-column-end: 3;

            }
        }

        &__pic {

            @mixin atMedium{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end:5;
            }
        }
    }

}