.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    @mixin atMedium {
        background-color: rgba(255, 255, 255, 0.9)
    }

    &__btn-container {
        float: right;
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color: white;
        position: absolute;
        top: 10px;
        right: 10px;

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-content {
        display: none;
    
        @mixin atMedium {
            display: block;
        }
    }

}